# Node / Frontend

node_modules/
dist/
build/
.cache/
.vite/
.parcel-cache/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Mac
.DS_Store

# Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
*.local
.history
