@use '@/styles/variables.scss' as *;

.container {
  padding: $spacing-md $spacing-lg;
  margin-top: $spacing-md;
}

.text {
  font-size: $font-size-xs;
  color: $color-text-tertiary;
  line-height: $line-height-loose;
  text-align: center;
}
